---
title: "Bee Technologies"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/honeycomb.jpg
  actions:
    - label: "Get in touch"
      url: "/contact/"
excerpt: "Product &amp; process for world-changers"
intro: 
  - excerpt: 'People-centred, cause-focused technologies for not-for-profit organisations.'
feature_row:
  - image_path: assets/images/prodman.png
    alt: "placeholder image 1"
    title: "Product Management"
    excerpt: "Bringing the ideas in your head to life"
  - image_path: /assets/images/data.png
    alt: "placeholder image 2"
    title: "Data Strategy"
    excerpt: "Making your data answer the questions you're asking"
  - image_path: /assets/images/processdev.png
    title: "Process Development"
    excerpt: "Holistic process planning to improve team outcomes"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}